@keyframes page__show-frame {
  from { transform: scale(1.1); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

@keyframes page__show-title {
  from { transform: translateX(-5%); opacity: 0; }
  to   { transform: translateX(0%); opacity: 1; }
}
@keyframes page__show-project {
  from { transform: translateX(5%); opacity: 0; }
  to   { transform: translateX(0%); opacity: 1; }
}
@keyframes page__show-sub-title {
  from { transform: translateY(30%); opacity: 0; }
  to   { transform: translateY(0%); opacity: 1; }
}

@keyframes page__down-decoration {
  0%   { transform: translateY(-100%); }
  20%  { transform: translateY(0%); }
  40%  { transform: translateY(-3%); }
  60%  { transform: translateY(0); }
  80%  { transform: translateY(-1.5%); }
  100% { transform: translateY(0); }
}
@keyframes page__rotate-decoration {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(-360deg); }
}