$last-chapter__theme-black: #283c5f;
$last-chapter__theme-white: #faf7d9;
$last-chapter__theme-green: #c3ce5f;
$last-chapter__theme-blue: #4aa9a4;
$last-chapter__theme-red: #c45c66;

.site-page {
  .page__title div {
    background-image: url(../images/site-page/title.svg);
  }
  @include pc-layout { .top { margin-top: 100px; } }
  @include pc-layout { .top { margin-top: 70px; } }
}