@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}


@keyframes turn1 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(1turn); }
}
@keyframes -turn1 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-1turn); }
}


@keyframes slide-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0%); }
}
@keyframes slide-left {
  from { transform: translateX(100%); }
  to   { transform: translateX(0%); }
}
@keyframes slide-top {
  from { transform: translateY(100%); }
  to   { transform: translateY(0%); }
}
@keyframes slide-bottom {
  from { transform: translateY(-100%); }
  to   { transform: translateY(0%); }
}


@keyframes width0-100per {
  from { width: 0%; }
  to   { width: 100%; }
}
@keyframes height0-100per {
  from { height: 0%; }
  to   { height: 100%; }
}


@keyframes scale0-1 {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}
