* {
  font-family: 'Boku';
  margin: 0;
  padding: 0;
}

img { vertical-align: bottom; }

input, textarea, button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  border-radius: 0;
}

a { text-decoration: none; }

iframe { border: none; }
